
.chart {
    -fx-legend-side: top;
    -fx-lenged-visible: true;
    -fx-title-side: bottom;
    -fx-font-size: 18;
    -fx-font-weight: bold;

}

.chart-content {
    -fx-background-color: white;
}

.chart-title {

    -fx-font-family: "Arial";
    -fx-font-size: 18;
    -fx-font-weight: bold;
}
