/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 21, 2017, 8:07:48 PM
    Author     : Dan Mlayah
*/
.root {
}

.navHbox:hover {
    -fx-background-color: #222D32;
}

.navHbox:pressed {
    -fx-background-color: #2A3F54;
}

.navBtn:focused {
    -fx-background-color: #2A3F54;
}

.navBtn:pressed {
    -fx-background-color: #2A3F54;
}

.barBtn:hover {
    -fx-background-color: #000;
    -fx-opacity: 0.7;
}


